body{
    background: #1c313a;
}
 
 
.box{
    background:#455a64;
    width:60%;
    height:60%;
    border-radius:5px;
    margin: 5% auto auto auto;
    padding: 10px;
    text-align:center;
    /*box-shadow: 5px 5px 10px #888888;*/
}
 
.chatBox {
    background:#455a64;
    /*border-radius:5px;*/
    width:90%;
    height:200px;
    margin:5% auto 5% auto;
    /*border:1px solid;*/
    /*border-color:#f4f4f4;*/
    overflow-y:auto;
}
 
.chatCell {
    background:#455a64;
    width:100%;
    height:15%;
    margin:auto auto 1px auto;
}

#chat-form {
    /*display: none;*/
}
.btn{
    background:#2ecc71;
    height:30px;
    color:white;
    /*border-radius:4px;*/
}
 
.btn:hover{
    background:#2CC06B;
}